<div class="container">
  <div class="row btn-group gap-2">
    @for (item of relFolders$ | async; track $index) {
      <button type="button"
              class="col-auto btn btn-primary"
              (click)="onFolderSelect(item)"
      ><i class="bi bi-folder"></i>{{ item }}
      </button>
    }
  </div>
  <!-- save files todo: display a separator between "flattened view" and current directory -->
  @for (item of savefiles$ | async; track $index) {
    @if (pathMask$ | async; as mask) {
      @if (item.includes(mask)) {
        <div class="row" (click)="onSelect(item)">{{ item }}</div>
      }
    }
  } @empty {
    <i>no items</i>
  }
</div>
