<div class="container my-4">
  <div class="row btn-toolbar gap-3 my-3 justify-content-center">
    @for (item of relFolders$ | async; track $index) {
      <button type="button"
              class="col-auto btn btn-primary"
              (click)="onFolderSelect(item)"
      ><i class="bi bi-folder"></i>{{ item }}
      </button>
    }
  </div>
  <!-- save files todo: display a separator between "flattened view" and current directory -->
  <ul class="row mb-5 list-group">
    @for (item of savefiles$ | async; track $index) {
      @if (pathMask$ | async; as mask) {
        @if (item.includes(mask)) {
          <a class="hover-link list-group-item icon-link icon-link-hover" (click)="onSelect(item)"><i class="bi bi-filetype-json me-1"></i>{{ item }}</a>
        }
      }
    } @empty {
      <li class="list-group-item"><i>no items</i></li>
    }
  </ul>
</div>
