<div class="container p-5">
  <div>Note: if nothing in displayed, you have no decks</div>
  @if (saveState$ | async; as save) {
    <h1>{{ save.name }}</h1>
    <h2>{{ 'date: ' + save.date }}</h2>
    <div>{{ save.description ?? 'no description provided.' }}</div>
  } @else {
    <i>loading save...</i>
  }

  <div class="row">
    <input type="text" [formControl]="objectSearch">
  </div>
  @if (cardForms$ | async; as cardInputs) {
    @for (object of flatObjects$ | async; track $index) {
      <div>{{ 'GUID ' + object.object.GUID }}</div>
      <div>{{ ' Name ' + object.object.Name + ' ' + object.object.Nickname }}</div>
      @if (cardInputs.get(object.jsonRelPath.join('/')); as form) {
        <app-custom-card-editor [form]="form"/>
      }
    } @empty {
      <i>savefile contains no objects</i>
    }
  }
</div>
